body {
    font-size: 16px;
    background: #fff;
    font-family: "Roboto";
}
 
.wrap {
    width: 90%;
    max-width: 1000px;
    margin: 0 20px;
    /*margin: auto;*/
}
 
.formulario h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}
 
.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.formulario input[type="checkbox"]{
    display: none;
}

.formulario .checkbox label{
    color:#ff4136
}
