body {
    background-image: url(imagenes/ottokrause.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: red;
}
    
a {
    color: red;
}
.footer{
height: 4em;
    color: white;
}
.piedepagina{
    background: #1a222d8c;
}
.piedepagina img{
    width: 50px;
}

p{
    text-decoration-color: white;
}
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#encabezado img {
    width: 130px;
}
#encabezado{
    background-color: rgba(41, 38, 38, 0.6);
    margin-bottom: 80px;
}

h4, h1 {
    color: white;
    margin-top: 46px;
    font-family:  'Arimo', sans-serif; 
}

p1{
    color: white;
}
h4{
  
    font-size: 19px;
    
}
h1{

    font-size: 49px;   
}

table,th,td{
	border:1px solid gray;
	border-collapse:collapse;
	text-align: center;
}

