<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="/home.js"></script>
        <title>Mostrar</title>
    </head>
    <body>
        <h1>Mostrar.</h1>
        <form id = "MostrarPorAlumno" action = "/No" method = "GET"> <!--Cambiar /No por algo que funcione algún día-->
            IdAlum: <input type="text" name="idAlumno">
            Fecha: <input type="date" name="Fecha">
            <input type="submit" value = "Mostrar por Alumno">
        </form>
        <form id = "MostrarPorDivision" action = "/No" method = "GET"> <!--Cambiar /No por algo que funcione algún día-->
            IdDivision: <input type="text" name="idAlumno">
            Fecha: <input type="date" name="Fecha">
            <input type="submit" value = "Mostrar por División">
        </form>
    </body>
</html>